html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--black);
	color: var(--white);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Raleway, sans-serif;
}

.m, .c { font-family: Cinzel, sans-serif; }
.o, .r { font-family: Raleway, sans-serif; }

/* COLOURS */
.b-yellow { background-color: #FBB195 }
.f-yellow { color: #FBB195 }

.b-red { background-color: #F67280 }
.f-red { color: #F67280 }

.b-red-light { background-color: #C06C84 }
.f-red-light { color: #C06C84 }

.b-indigo { background-color: #6C5B7B }
.f-indigo { color: #6C5B7B }

.b-blue { background-color: #355C7D }
.f-blue { color: #355C7D }

/* COMPONENTS */
main {
	width: inherit;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

button {
	font-family: inherit;
	font-weight: 600;
	font-size: .8em;
	color: inherit;
	background-color: inherit;
	padding: 0.3em 1em;
	box-sizing: border-box;
	border: 2px solid var(--black);
	border-radius: 1em;
	cursor: pointer;
}

button:hover {
	transform: scale(1.1);
}

button:active {
	box-shadow: 3px 3px darkgray;
  transform: translateY(4px);
}


img {
	width: 100%;
	height: 100%;
}

/* CUSTOM */

.text, .itext {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
}

.page {
	background-color: var(--black);
	height: auto;
	min-height: 100vh;
	padding-top: 4em;
}
.page .title {
	font-size: 4em;
	font-weight: 600;
}

/* SCROLL BAR */

html, body {
	scrollbar-color: var(--white) var(--black);
}
body::-webkit-scrollbar-track {
	background-color: var(--black);
}
body::-webkit-scrollbar {
	width: 6px;
	background-color: var(--white);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--white);
}